<div class="container-fluid">
  <div class="row">
    <div class="category-heading comic-heading">
      <div class="container">
        <h1 class="title">ABOUT</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-row">

    <div class="hidden-xs hidden-sm col-md-2"></div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card hero-card text-center">

        <div class="card-image">
          <div class="hero-img-box">
            <%= image_tag 'aik.jpg', alt: 'aik of l\'oca pigra', class: 'hero-img' %>
          </div>
        </div>

        <div class="card-body">
          <h3 class="card-title">AIK</h3>
          <p>
            30+ and determined....and i love pasta!<br>
            Living and working in Berlin.
          </p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card hero-card text-center">

        <div class="card-image">
          <div class="hero-img-box">
            <%= image_tag 'lee.jpg', alt: 'lee of l\'oca pigra', class: 'hero-img' %>
          </div>
        </div>

        <div class="card-body">
          <h3 class="card-title">LEE</h3>
          <p>
            queer transboi<br>
            Living and working in Chenzhou.
          </p>
        </div>
      </div>
    </div>

    <div class="col-xs-12"><hr></div>

    <div class="col-xs-12 col-sm-offset-2 col-sm-8 contact-box text-center">
      <h2>contact us @</h2>
      <div class="well">
        <p>
          <strong>info@locapigra.biz</strong> or via our <i class="fa fa-facebook fa-fw"></i> or <i class="fa fa-tumblr"></i>
        </p>
      </div>
    </div>

  </div>
</div>
