- set_meta_tags title: "About Us and Contact Information", description: "We are AIK and LEE, currently located in Berlin and Changsha respectively. Come say hi on facebook :)."
-breadcrumb :about

.container-fluid
  .row
    .category-heading.comic-heading
      .container
        %h1.bonkers
          ABOUT
          %span{ title: "ABOUT" }
.container
  .card-row
    .hidden-xs.hidden-sm.col-md-2
    .col-xs-12.col-sm-6.col-md-4
      .card.hero-card
        .hero-img-box
          = image_tag 'aik.jpg', alt: 'aik of l\'oca pigra', class: 'hero-img'
        .hero-caption
          %h3.card-title AIK
          %p
            30+ and determined....and i love pasta!
            %br/
            %br/
            Living and working in Berlin, Germany.
    .col-xs-12.col-sm-6.col-md-4
      .card.hero-card
        .hero-img-box
          = image_tag 'lee.jpg', alt: 'lee of l\'oca pigra', class: 'hero-img'
        .hero-caption
          %h3.card-title LEE
          %p
            mid 20s with two cats and lots of plans. I love all food equally.
            %br/
            Living and working in Shenzen, China.

    .col-xs-12.col-sm-offset-2.col-sm-8.contact-box
      %h2 CONTACT US
      .well
        %p
          %strong info@locapigra.biz
          %br/
          %a.blood{:href => "https://locapigra.tumblr.com/"}
            L'oca pigra on tumblr
          %br/
          %a.blood{:href => "https://www.facebook.com/locapigra/"}
            L'oca pigra on facebook

    .col-xs-12.col-sm-offset-2.col-sm-8
      %h3 Code on Github
      %p
        We could have just used Shopify or any of the other great eCommerce platforms. But MaxL wanted to learn ruby and ruby on rails. You can check out the source code on
        %a.blood{href: "https://github.com/MaxL/locapigra"}
          %i.icon-github-circled
          github
