<div class="container">
  <div class="row">

    <div class="col-xs-12">
      <h1 class="page-heading">Locapigra</h1>
    </div>

    <div class="col-xs-12 col-sm-6">
      <p>
        Hey we are locapigra and this is what we do
      </p>
      <p class="lead">
        This is what we're all about
      </p>
      <p>
        and this is what we want to do in the future
      </p>
    </div>

    <div class="col-xs-12 col-sm-6">
      <%= image_tag "lets-start.png", class: "img-responsive" %>
    </div>
  </div>

</div>
