<div class="container-fluid intro">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-7 col-md-6">
        <h1>Coming soon</h1>

        <p class="lead">
          Locapigra and the first Comic Book
        </p>
        <p class="claws-title">
          Claws of Fury
        </p>
        <p class="lead">
          are about to be <span class="blood">unleashed!</span>
        </p>
      </div>

      <div class="hidden-xs col-sm-5 col-md-6"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row marketing">

    <div class="col-xs-12 col-md-7">
      <h2>News</h2>
      <h4>Claws of Fury is done</h4>
      <p>
        Bla bla blubb
      </p>
    </div>

    <div class="col-xs-12 col-md-5">
      <%= image_tag("cover-claws.jpg", alt: "Claws of Fury cover image", class: "cover img-responsive") %>
    </div>
  </div>
</div>
