<div class="container-fluid">
  <div class="row">
    <div class="category-heading comic-heading">
      <div class="container">
        <h1 class="title">IMPRESSUM</h1>
        <p>
          <small class="german law requires this"></small>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">

<div class="row card-row">
  <div class="col-xs-12">
    <p>
      <strong>Betreiber und Kontakt:</strong>
      <br>
      Durlacherstraße 11a<br>
      10715 Berlin<br>
      info@locapigra.biz
    </p>
  </div>
</div>
