<h1>Impressum</h1>

<div class="row">
  <div class="col-xs-12">
    <p>
      <strong>Betreiber und Kontakt:</strong>
      <br>
      Durlacherstraße 11a<br>
      10715 Berlin<br>
      info@locapigra.biz
    </p>
  </div>
</div>
