- set_meta_tags title: "Imprint / Impressum", description: "Legal Information required by German Law (this is where l\'oca pigra is currently based)."

.container-fluid
  .row
    .category-heading.comic-heading
      .container
        %h1 IMPRINT
.container
  .row.card-row
    .col-xs-12
      %p
        Xie Yaqiong
        %br/
        China
        %br/
        Hunan, Changsha
        %br/
        Yuhua District
        %br/
        Steel Market Bridge, 33rd Block
        %br/
        info@locapigra.biz
