- set_meta_tags title: "Imprint / Impressum", description: "Legal Information required by German Law (this is where l\'oca pigra is currently based)."

.container-fluid
  .row
    .category-heading.comic-heading
      .container
        %h1.title IMPRESSUM
        %p
          %small.german.law.requires.this
.container
  .row.card-row
    .col-xs-12
      %p
        %strong Betreiber und Kontakt:
        %br/
        Durlacherstraße 11a
        %br/
        10715 Berlin
        %br/
        info@locapigra.biz
