- set_meta_tags title: "Thank You!", noindex: true, nofollow: true

.container
  .row
    .col-xs-12.col-sm-offset-1.col-sm-10.col-md-offset-2.col-md-8.text-center
      %h1 Thank you for your order!
      %p.lead
        We have sent an order confirmation to the email address you provided during your purchase. If you chose to pay via bankwire, you will be notified once payment is received and we ship your order.
      .alert.alert-info
        You can also
        = link_to "sign up", new_user_registration_path
        to be able to view all your orders online

      - if @token
        .col-xs-12
          %p.lead
            Thank you for your purchase. You can find the download links below. Keep in mind that this link will only be active for 24 hours after your purchase!
        .row
          .col-xs-4
            =link_to "Download PDF", "/files/clawspdf?token=#{@token}", target: :_blank, class: "btn btn-warning btn-lg btn-block"
          .col-xs-4
            =link_to "Download ePub", "/files/clawsepub?token=#{@token}", target: :_blank, class: "btn btn-warning btn-lg btn-block"
          .col-xs-4
            =link_to "Download CBR", "/files/clawscbr?token=#{@token}", target: :_blank, class: "btn btn-warning btn-lg btn-block"
      - else
        %h3 Download Link expired
        %p.lead
          Sorry this page can only be accessed with a valid link! If you feel this is a mistake please contact us ASAP at info@locapigra.biz
