- set_meta_tags title: "Terms and Conditions", description: "Terms and conditions for purchases in our shop in english, since the website is only in english."

.container-fluid
  .row
    .category-heading.comic-heading
      .container
        %h1.title TERMS AND CONDITIONS
        %p
          %small.german.law.requires.this
.container
  .row.card-row
    = render 'shared/toc'
