- set_meta_tags title: "Blog - Sketches, photos, news & anouncements and more.", description: "These are posts from our tumblr blog - updates, doodles and random stuff we find amusing!"
-breadcrumb :blogs

.container-fluid
  .row
    .category-heading.comic-heading
      .container
        %h1
          BLOG
          %span{ title: "BLOG"}
        %p
          These are the last couple of posts from
          %a.underline{ href: "https://locapigra.tumblr.com", target: "blank" } our tumblr
.container
  .row.card-row.blog-row
    - if @posts != nil
      .posts
        = render partial: "post", collection: @posts
      #infinite-scrolling.col-xs-12.text-center
        .pagination
          more posts
    - else
      %p Sorry, something seems to be wrong with our connection to tumblr - blog posts couldn't be loaded
