- if @posts.blank?
  $(window).off('scroll');
  $('.pagination').remove();
- else
  $('.posts').append('#{escape_javascript(render partial: "blogs_page_header")}');
  $('.posts').append('#{escape_javascript(render partial: "post", collection: @posts)}');
