<div class="container-fluid">
  <div class="row">
    <div class="category-heading comic-heading">
      <div class="container">
        <h1 class="title">BLOG</h1>
        <p>
          These are the last couple of posts from <a href="https://locapigra.tumblr.com" class="underline">our tumblr</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row card-row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4 text-center">
      <% @posts.posts.each do |post| %>
        <div class="post">
          <% post.photos.each do |photo| %>
            <%= link_to (image_tag photo.alt_sizes.first.url, class: "img-responsive"), post.post_url %>
          <% end %>
          <%= post.caption.html_safe %>
          <ul class="list-inline">
            <% post.tags.each do |tag| %>
              <li class="text-muted">
                <a href="https://locapigra.tumblr.com/tagged/<%= tag %>">#<%= tag %></a>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

</div>
