%h1
  Hi #{@user.email}
%p
  Someone (hopefully you!) has requested a password reset for locapigra with this email address.
  %br/
  To choose a new password, just follow this link: #{@user.email}.
  %br/
  Have a great day!
