<h1>Comics</h1>

<%= will_paginate %>
<div class="row">
  <%= render @comics %>

  <% if current_user %>
    <div class="col-xs-12">
      <hr>
      <%= link_to "Add comic", new_comic_path, class: "btn btn-success btn-lg" %>
    </div>
  <% end %>
</div>

<%= will_paginate %>
