<% provide(:title, @comic.name) %>
<div class="container">
  <h1><%= @comic.name %></h1>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4">
      <img class="img-responsive" src="" alt="" />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8">
      <p>
        <%= @comic.description %>
      </p>
    </div>
  </div>
</div>
