$black: #111;
$white: #fff;
$whiteer: #f2f4f2;
$damp: #ccc;
$swamp: #59c669; //rgba(0, 129, 72)
$swamp-light: #9AC434;
$lagoon: #008dd4; //rgba(40, 100, 182, 211)
$blood: #EA5465; //rgba(187, 10, 33, 100) f95464
$sand: #fec72e; //rgba(241, 143, 28, 1)

$alpha-main: .7;
