.container
  .row
    .col-xs-12
      %h4
        Orders [#{@orders.count}]

      %table.table.table-condensend
        %thead
          %tr
            %td
              Order ID
            %td
              Order Reference
            %td
              Placed on
            %td
              Customer
            %td
              User
            %td
              Status
            %td
              Payment
            %td
              Total $
            %td
              action
        %tbody
          = render partial: "order", collection: @orders
