= form_for @order, remote: true, url: {action: "submit_address", controller: "carts"}, html: {class: "order-address-form loca-form"} do |f|
  = f.fields_for :address do |address|
    = render 'shared/address_fields', f: address
  = f.button(type: "submit", class: "btn btn-primary pull-right") do
    %i.icon-angle-right
    NEXT
