.no-more-tables#no-more-tables
  %table.table
    %thead
      %tr
        %th.col-xs-12.col-md-3 Product
        %th.col-xs-12.col-md-2 Unit Price
        %th.col-xs-12.col-md-3.text-center Quantity
        %th.col-xs-12.col-md-2.text-right Total
        %th.col-xs-12.col-md-1.text-right
    %tbody
      - @order_items.each do |order_item|
        = render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true
    %tfoot
      %tr
        %td.text-right{:colspan => "3"}
          Total of your order (w/o shipping)
          %br
          %small.text-muted shipping cost depends on destination and will be shown in the next step
        %td.total-cell.text-right.text-success{:colspan => "1"}
          %strong= number_to_currency @subtotal, locale: :de
        %td.hidden-xs
