- if !@order_item.nil? && @order_item.errors.any?
  .alert.alert-danger
    %ul.list-unstyled
      - @order_item.errors.full_messages.ech do |msg|
        %li= msg
- if @order_items.size == 0
  %p.text-center
    There are no items in your cart at the moment. #{link_to "Feel free to add some though :)", shop_path}
- else
  .col-xs-12.col-sm-7
    .static-card#cart-div
      = render 'carts/cart_summary'
    .alert.alert-warning.alert-card
      %p
        Choose between paying with Credit Card (no data stored on our servers!) or Bankwire. Please note that when choosing the payment option "Bankwire" we will wait for the payment to reach us before sending your products.
  .col-xs-12.col-sm-5
    .static-card#checkout-div
      %h3 PLACE ORDER
      = render 'carts/address_form'
