<div class="container-fluid">
  <div class="row">
    <div class="category-heading comic-heading">
      <div class="container">
        <h1 class="title">CART</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-row">
    <div class="shopping-cart">
      <%= render 'carts/shopping_cart' %>
    </div>
  </div>
</div>
