- if @order.nil? || @order.errors.any?
  .alert.alert-danger
    %ul.list-unstyled
      - if !@order.nil?
        - @order.errors.full_messages.ech do |msg|
          %li= msg
      - else
        %li Cart seems to be empty. Was the order already placed?
- else
  $('.order-address-form').hide().empty().remove();
  $('.order_item_qty').prop('readonly', true).addClass('readonly');
  $('.order_item_update, .order_item_delete').hide();
  - if @payment.name == "Braintree"
    $('#checkout-div').append("#{escape_javascript(render 'carts/paypal_checkout')}");
  - else
    $('#checkout-div').append("#{escape_javascript(render 'carts/checkout')}");
