%tr
  %td
    = order_item.quantity
    x
    = order_item.product.name
  %td.text-right= number_to_currency order_item.unit_price, locale: :de
  %td.text-right= number_to_currency order_item.total_price, locale: :de
