- if @order.errors.any? || @order_item.errors.any?
  alert('not valid');
- else
  :plain
    $('.cart-txt').html("#{escape_javascript(render 'layouts/cart_text')}").addClass('cart-added').delay(1000).queue(function() {
      $(this).removeClass('cart-added');
      $(this).dequeue();
    });
