- if @order.errors.any? || @order_item.errors.any?
  alert('not valid');
- else
  :plain
    $('.cart-txt').html("#{escape_javascript(render 'layouts/cart_text')}").addClass('cart-added').delay(1000).queue(function() {
      $(this).removeClass('cart-added');
      $(this).dequeue();
    });
    $('.cart-btn').removeClass('empty');

    $('.cart-btn-#{escape_javascript(@order_item.product_id.to_s)}').addClass('disabled').prop('disabled', 'disabled').delay(1000).queue(function() {
      $(this).removeClass('disabled').prop('disabled', false);
      $(this).dequeue();
    });
    $('.cart-btn-#{escape_javascript(@order_item.product_id.to_s)} .success-icon').addClass('toggled').delay(1000).queue(function() {
      $(this).removeClass('toggled');
      $(this).dequeue();
    });
