.featured-label {
  position: absolute;
  z-index: 2;
  top: -10px;
  left: 5px;
  font-size: 14px;
}
.newest-label {
  position: absolute;
  z-index: 2;
  top: -10px;
  right: 5px;
  font-size: 14px;
}
