.navbar-sticky {
  position: sticky;
  top: 0;
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: $white;
  z-index: 2;
}

.category-titles {
  display: flex;
  flex-direction: row;
  margin-bottom: 45px;

  .category-title {
    padding-right: 7px;
    font-size: 16px;
  }
}
