// colors

$night: #011627; //rgba(1, 22, 39, 100)
$light: #fdfffc; //rgba(253, 255, 252, 100)
$swamp: #2ec4b6; //rgba(46, 196, 182, 100)
$blood: #e71d36; //rgba(231, 29, 54, 100)
$sand: #ff9f1c; //rgba(255, 159, 28, 100)
