@import "base";
@import "mixins";

.card-row {
  margin-top: -80px;
}

.text-card {
  padding: 12px 15px;
  margin-left: -15px;
  margin-right: -15px;
  background-color: rgba($light, .8);
  border: 1px solid $night;
}

.card {
  background-color: $lighter;
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;
  @include std-transition;

  .card-image {
    margin: 0;
    position: relative;
    img {
      position: relative;
      @include std-transition;
    }

    .card-body {
      width: 100%;
      padding: 5px 20px 0;
      color: $swamp;
      text-align: center;
      transition: transform .4s;
      position: relative;

      a {
        h3 {
          color: $swamp;
        }
        &:hover {
          text-decoration: none;
        }
      }
      h3 {
        margin-top: 0;
        margin-bottom: 8px;
      }
      .btn {
        position: absolute;
        bottom: -46px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
      }
    }

    .comic-unreleased {
      position: relative;

      &::after {
        content: 'COMING SOON';
        font-size: 36px;
        font-weight: 900;
        color: rgba($light, .35);
        position: absolute;
        top: 200px;
        right: 0;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding: 2px 5px;
        z-index: 22;
      }

      img {
        -webkit-filter: blur(1px) grayscale(40%);
        filter: blur(1px) grayscale(40%);
        @include std-transition;
      }
    }

    &:hover {
      //
    }
  }
  &.hero-card {
    padding-top: 42px;
    background-color: $light;
  }

  &:hover {
    //@include card(1);
  }
}

.product-card {
  background-color: $light;
  margin-top: 15px;
  margin-bottom: 30px;
  border: 1px solid $swamp;

  .card-image {
    height: 240px;
    overflow: hidden;

    .img-responsive {
      margin-top: -60px;
    }
  }
  .card-body {
    height: 220px;
    padding: 20px;
    position: relative;

    h3 {
      margin-top: 0;
      font-size: 22px;
      margin-bottom: 18px;
      line-height: 27px;
    }

    .product-card-form {
      .price-box {
        position: absolute;
        z-index: 2;
        top: -30px;
        right: 15px;
        background-color: $blood;
        color: $light;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;

        .price {
          color: $light;
        }
      }

      .form-horizontal {
        .control-label {
          text-align: left;
        }
      }
    }
  }

  &:hover {
    @include card(1);
  }
}

.mini-card {
  background-color: $light;
  padding: 12px 16px;
  margin-bottom: 36px;
  padding-bottom: 24px;
  border-bottom: 1px solid $gray-darker;
  p {
    font-size: 16px;
  }
}

.card-interaction {
  background-color: $swamp;
  color: $light;
  font-weight: 600;
  padding: 15px;
}
