@import "base";
@import "mixins";

.card-row {
  margin-top: -80px;
}

.card {
  background-color: $light;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  @include std-transition;
  @include card(1);
  .card-image {
    margin: 0;
    position: relative;
    overflow: hidden;
    background-color: $text-color;
    img {
      position: relative;
      @include std-transition;
    }

    .card-body {
      height: 240px;
      width: 100%;
      position: absolute;
      left: 0;
      padding: 20px;
      background-color: $text-color;
      color: $light;
      top: auto;
      bottom: 0;
      transform: translateY(100%);
      backface-visibility: hidden;
      transition: transform .4s;
      h3 {
        margin-top: 0;
      }
    }

    .comic-unreleased {
      position: relative;

      &::after {
        content: 'COMING SOON';
        font-size: 36px;
        font-weight: 900;
        color: rgba($light, .35);
        position: absolute;
        top: 200px;
        right: 0;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding: 2px 5px;
        z-index: 22;
      }

      img {
        -webkit-filter: blur(1px) grayscale(40%);
        filter: blur(1px) grayscale(40%);
        @include std-transition;
      }
    }

    &:hover {
      img {
        transform: translateY(-120px);
      }
      .card-body {
        transform: translateY(0);
      }
      .comic-unreleased {
        img {
          -webkit-filter: blur(0) grayscale(0);
          filter: blur(0) grayscale(0);
        }
      }
    }
  }
  &.hero-card {
    padding-top: 42px;
  }
  &:hover {
    @include card(2);
  }
}

.product-card {
  background-color: $light;
  @include card(1);

  .product-card-item {
    height: 316px;
  }
  .card-image {
    float: left;
    width: 40%;
  }
  .card-body {
    width: 60%;
    float: left;
    padding: 20px;
    position: relative;

    h3 {
      margin-top: 0;
    }

    .product-card-form {
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: 50%;
    }
  }
}

.mini-card {
  background-color: $light;
  padding: 12px 16px;
  margin-bottom: 36px;
  padding-bottom: 24px;
  border-bottom: 1px solid $gray-darker;
  p {
    font-size: 16px;
  }
}

.card-interaction {
  background-color: $swamp;
  color: $light;
  font-weight: 600;
  padding: 15px;
}
