@import "bootstrap-sprockets";

@import 'base/module';

@import 'vendors/module';

@import 'helpers/module';

@import 'vendors/overrides';

@import 'components/module';

@import 'layout/module';
@import 'pages/module';

$shevy: (
  base-font-size: 15px,
  base-line-height: 1.45,
  base-font-scale: (2.5, 2.1, 1.8, 1.5, 1.25, 1),
  margin-bottom: true,
  proximity: false,
  proximity-factor: .85
);

@include headings;
@include body;
@include content;


/* #INDEX */
.fireworks {
  position: absolute;
  font-size: 20px;
  z-index: 2;
}

.index-copy {
  p {
    //font-size: 18px;
    //line-height: 1.55em;
    color: lighten($black, 5);
  }

  a {
    color: $swamp;
  }
}

.index-social {
  text-align: center;
  a {
    display: block;
    font-size: 26px;
    margin: 0 auto 20px;
    height: 40px;
    width: 40px;
    background-color: $blood;
    border: 2px solid $blood;
    line-height: 40px;
    @include std-transition;
    i {
      color: $white;
    }

    &:hover {
      background-color: $white;
      i {
        color: $blood;
      }
    }
  }
}

.index-posts {
  .img-responsive {
    margin: 0 auto;
  }
}
.ui-sortable-handle {
  border: 1px solid $black;
}
i {
  &.rotated {
    &::before {
      transform: rotate(180deg);
    }
  }
}

/* #COMICS & #PRODUCTS */
.products-sidebar {
  /*background-color: $swamp;
  @include background-gradient-light(bottom);
  margin-top: 15px;
  padding: 20px 12px 40px;
  color: $white;
  min-height: 250px;
  position: relative;

  .title {
    color: $white;
  }
  */
  padding: 20px 12px 40px;
}
.list-row {
  margin-top: 50px;
}
.flex-row {
  display: flex;
}
.flex-first {
  margin-left: 15%;
}

.featured-product {
  margin-top: 10px;
  position: relative;
  height: 560px;
}
.button-column {
  margin-top: 40%;
  @include respond-to(xs) {
    margin-top: 15px;
  };
}
.comic-content {
  @include respond-to(xs) {
    padding-left: 30px;
  };
}

/* #COMICS */

.title-image {
  height: 150px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.main-title-image {
  height: 200px;
}
.comic-heading {

}

.comic-main-img {
  //
}

.comic-unreleased {
  //filter: grayscale(.75);
}
.webcomic-pagination {
  a,
  em,
  .disabled {
    display: inline-block;
    padding: 4px 7px;
    //border: 1px solid $black;
  }
  em {
    color: $white;
    background-color: $black;
  }
}

/*
.webcomic-container {
  position: relative;
  .previous_page,
  .next_page {
    position: absolute;
    top: 45%;
    border-color: transparent;
    &.disabled {
      color: $damp;
      border-color: transparent;
    }
  }
  .previous_page {
    left: -15px;
    @include respond-to(xs) {
      left: -5px
    };
  }
  .next_page {
    right: -15px;
    @include respond-to(xs) {
      right: -5px
    };
  }
}
*/

.loca-list {
  list-style-image: url('logo_sm.svg')
}

.webcomic-subtitle {
  margin-top: 25px;
  width: 215px;
}

.webcomic-page {
  margin: 0 auto;
  @include respond-to(larger_than_sm) {
    max-height: 1000px;
  };
}

/* #SHOP */

.product-item {

}

/* #BLOG */
.blog-row {
}
.post {
  padding-bottom: 0;
  //border-bottom: 1px solid $swamp;
  margin-bottom: 0;

  img {
    margin-bottom: 22px;
  }

  .list-inline {
    margin-bottom: 0;
  }
}

.post-content {
  padding: 8px 12px;
  //background-color: rgba($white, $alpha-main);
  margin-bottom: 15px;
  //@include gradient-border($swamp, $swamp-light, 3px);
  border-bottom: 1px solid $black;
}

.photoset {
  .img-main {
    //
  }
  .img-sub {
    float: left;
    width: 50%;
    height: 135px;
    object-fit: cover;
  }
}

/* #ABOUT */
.hero-card {
  padding: 20px;
  position: relative;
}
.aik {
  .hero-caption {
    position: absolute;
    right: 0;
    top: 47.2%;
    background-color: rgba($white, .75);
  }
}
.lee {
  .hero-img {
    height: 350px;
  }
  .hero-caption {
    position: absolute;
    right: 0;
    bottom: -60px;
    background-color: rgba($white, .75);
  }
}

.hero-name {
  border-bottom: 1px solid $text-color;
  padding-bottom: 10px;
  margin-bottom: 24px
}

.contact-box {
  margin-top: 150px;
}

/* #CART */
.static-card {
  background-color: $white;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 15px;
  @include card(1);
}

.block-span {
  display: inline-block;
  margin-top: 10px;
}

.shopping-cart {
  .input-group {
    margin-top: 5px;
  }
}
/* #FOOTER */

footer {
  margin-top: 130px;
  padding-bottom: 40px;
  min-height: 170px;
  width: 100%;
  color: $black;
  background-color: $white;

  @include respondto(xs) {
    margin-bottom: 80px;
    .col-xs-12 {
      text-align: center;
      margin-bottom: 8px;
    }
  };

  .footer-top {
    //background-image: image-url('footer_bg.svg');
    //background-repeat: repeat-x;
    width: 100%;
    height: 160px;
    margin-bottom: 60px;
  }
}

// #MISC
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  box-sizing: border-box;
}

// #ADMIN

//statuses
.status-placed {
  background-color: lighten($sand, 25);
}

.status-paid {
  background-color: $swamp;
  color: $white;
}

.status-shipped {
  background-color: $lagoon;
  color: $white;
}

.large-icon {
  font-size: 40px;
}
