@import "bootstrap-sprockets";
@import "base";
@import "mixins";
@import "bootstrap-variables";
@import "bootstrap-custom";
@import "bootstrap-datepicker";
@import "font-awesome";
@import "magnific-popup";


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* HELPERS */
.block-link {
  display: block;
  width: 100%;
}

/* HIGHLIGHTS & CO */
.page-heading {
  padding-bottom: 9px;
  border-bottom: 1px solid $blood;
  margin-bottom: 28px;
}
.blood {
  color: $blood;
}

/* BOOTSTRAP OVERRIDES */

/* #HEADER  */
.loca-logo {
  background-image: url('logo-lg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 50px;
  text-align: center;
  min-height: 45px;
  display: block;
  margin-top: 5px;
  float: left;
}
.navbar-main {
  float: right;
  li {
    width: auto;
    text-align: center;
  }
}

/* #INDEX */

/* Header */
.header-index {
  .loca-logo {
    background-image: url('logo-lg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    text-align: center;
    min-height: 350px;
    display: block;
    float: none;
    margin: 80px 0 250px 0;
  }
  .navbar-main {
    width: 100%;
    float: none;
    li {
      width: 20%;
      text-align: center;
    }
  }
}

/* #COMICS */

.comic-item {
  margin-bottom: 42px;

  .media-left {
    min-width: 200px;
  }

}

.comic-thumb-box {
  text-align: center;

  &:nth-child(odd) {
    padding-right: 4px;
  }
  &:nth-child(even) {
    padding-left: 4px;
  }
}

.comic-thumb {
  padding: 2px;
  border: 1px solid $night;
  width: 100%;
}

/* #SHOP */

.product-item {

}

/* #FOOTER */

footer {
  margin-top: 70px;
}

// #MISC
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  box-sizing: border-box;
}
