@import "bootstrap-sprockets";

@import 'base/module';

@import 'helpers/module';

@import 'vendors/module';

@import 'components/module';

@import 'layout/module';
@import 'pages/module';

$shevy: (
  base-font-size: 15px,
  base-line-height: 1.45,
  base-font-scale: (2.5, 2.1, 1.8, 1.5, 1.25, 1),
  margin-bottom: true,
  proximity: false,
  proximity-factor: .85
);

@include headings;
@include body;
@include content;

html,
body {
  height: 100%;
}

body {
  //background-image: image-url('bg_full.svg');
  position: relative;
  //background-repeat: round;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* HELPERS */
input {
  @include respondto(xs) {
    font-size: 16px !important;
  }
}

.block-link {
  display: block;
  width: 100%;
}

.magnific-image {
  cursor: pointer;
}

.status-alerts {
  display: block;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  @include respondto(xs) {
    bottom: 60px;
    width: 100%;
    z-index: 9999;
  };
}

.turbolinks-progress-bar {
  background-color: $swamp;
}

/* HIGHLIGHTS & CO */
.backgrounded {
  background-color: rgba($white, .8);
}
.alert-notice {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.highlight-link {
  color: $swamp;
}
hr {
  &.dark-hr {
    border-color: $gray;
  }
}
.title {
  font-weight: 300;
  color: $swamp;
}
.category-heading {
  padding-bottom: 100px;
}
.page-heading {
  margin-bottom: 36px;
  &.index {
    padding-bottom: 20px;
    background-image: url('');
  }
}
.sub-heading {
  padding-bottom: 4px;
  border-bottom: 1px solid $text-color;
  margin-bottom: 9px;
  &a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.small-title {
  font-size: 14px;
  color: $damp;
}

.divide {
  margin-top: 25px;
  margin-bottom: 85px;
}

.marginless-top {
  margin-top: 0;
}

.price-box {
  margin-bottom: 12px;
}
.price {
  color: $blood;
  font-weight: 700;
  font-size: 24px;
}

.blood {
  color: $blood;
}
.lagoon {
  color: $lagoon;
}
.sand {
  color: $sand;
}

/* BOOTSTRAP OVERRIDES */
.table {
  background-color: $white;
}
.tooltip {
  .tooltip-inner {
    padding: 15px;
    font-size: 15px;
    width: 480px;
    max-width: 480px;
    @include respond-to(xs) {
      max-width: 280px;
    };
  }
}

.breadcrumb-container {
  background-color: $swamp;
  @include background-gradient(right);
}
.breadcrumb {
  margin-bottom: 8px;
  padding: 8px 15px 0;
  list-style: none;
  background-color: transparent;
  color: $white;

  a {
    color: $white;
  }

  > .active {
    color: darken($white, 10);
  }
}

.pagination {
  //margin: 0;
}

/* #HEADER  */
.navbar {
  position: inherit;
}
.navbar-toggle {
  @include respondto(xs) {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
  };
}
.loca-logo {
  background-image: image-url('logo_sm.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 50px;
  text-align: center;
  min-height: 50px;
  display: block;
  margin-top: 8px;
  float: left;
  @include respondto(xs) {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 998;
  };
}
.navbar-main {
  float: right;
  div {
    width: auto;
    text-align: center;
    float: left;
    position: relative;

    a {
      display: block;
      width: 100%;
      padding: 12px 18px;

      &.header-link {
        background-color: $white;
      }

      &.main-nav-hilite {
        @include respondto(md) {
          background-color: $white;
          &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 10%;
            width: 80%;
            height: 1px;
            background-color: lighten($black, 15);
          }
        };

        @include respondto(lg) {
          background-color: $white;
          &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 10%;
            width: 80%;
            height: 1px;
            background-color: lighten($black, 15);
          }
        };
      }

      @include respondto(xs) {
        padding: 12px 10px;
      };

      &:hover {
        text-decoration: none;
        //background-color: $damp;
      }
    }

    &.user-btn {
      padding: 12px 8px;
      cursor: pointer;
    }

    .small {
      font-size: 50%;
    }

  }
  @include respondto(xs) {
    position: fixed;
    background-color: $white;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0 15px;
    z-index: 999;
    @include card(2);
    @include std-transition;

    div {
      width: 16.66%;

      &.cart-txt {
        position: fixed;
        top: 5px;
        right: 5px;
      }
    }
  };
}
.user-btn {
  &.visible-xs {
    a {
      padding: 0;
    }
  }
}
.cart-btn {
  position: relative;
  .badge {
    position: absolute;
    top: 1px;
    right: 1px;
  }

  &.empty {
    background-color: $white;
    color: $blood;
  }
}

.cart-added {
  animation: bounce 1s ease;
}

@keyframes bounce {
  0% { transform: scale(1); }
  10% { transform: scale(.9); }
  15% { transform: scale(1); }
  20% { transform: scale(1.15); }
  50% { transform: scale(1.2); color: $black;}
  60% { transform: scale(1.15); }
  100% { transform: scale(1); }
}

.add-to-cart-btn {
  overflow: hidden;
  @include std-transition;

  .icon-basket-alt {
    position: relative;
  }

  &.disabled {
    .icon-basket-alt {
      right: 150%;
      left: auto;
    }
  }

  .success-icon {
    position: absolute;
    left: 100%;

    &.toggled {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  background-color: rgba($white, .9);
  z-index: 995;
  &.shown {
    opacity: 1;
    visibility: visible;
  }
}

/* Header on index page */
.header-index {
  position: relative;
  .loca-logo {
    background-image: image-url('logo_colored.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    text-align: center;
    min-height: 340px;
    display: block;
    float: none;
    margin: 80px 0 180px 0;
    @include respondto(xs) {
      min-height: 240px;
      margin-top: 60px;
      margin-bottom: 100px;
      position: relative;
      z-index: 1;
    };
  }
  .navbar {
    @include respondto(xs) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    };
  }
  .navbar-main {
    width: 100%;
    float: none;
    div {
      width: 20%;
      text-align: center;

      a {
        font-family: $headings-font;
        font-size: 18px;
      }

      &.cart-txt {
        margin-left: 0;
        position: absolute;
        top: 5px;
        right: 10%;
        width: 100px;
        z-index: 9999;
        @include respond-to(xs) {
          position: fixed;
          right: 5px;
          width: 16.66%;
        };
      }

      &.btn-group {
        @include respond-to(sm) {
          position: absolute;
          top: 5px;
          right: 17%;
          width: 40px;
          z-index: 9999;
        };
        @include respond-to(md) {
          position: absolute;
          top: 5px;
          right: 17%;
          width: 40px;
          z-index: 9999;
        };
        @include respond-to(lg) {
          position: absolute;
          top: 5px;
          right: 17%;
          width: 40px;
          z-index: 9999;
        };
      }

      &.user-btn {
        padding: 12px 8px;
        cursor: pointer;
      }

      @include respondto(xs) {
        width: 16.66%;
      };
    }
    .cart-menu {
      position: absolute;
      top: 0;
      right: 0;
      width: 10%;
    }
  }
}

/* #INDEX */
.fireworks {
  position: absolute;
  font-size: 20px;
  z-index: 2;
}

.index-copy {
  p {
    //font-size: 18px;
    //line-height: 1.55em;
    color: lighten($black, 5);
  }

  a {
    color: $swamp;
  }
}

.index-social {
  text-align: center;
  a {
    display: block;
    font-size: 26px;
    margin: 0 auto 20px;
    height: 40px;
    width: 40px;
    background-color: $blood;
    border: 2px solid $blood;
    line-height: 40px;
    @include std-transition;
    i {
      color: $white;
    }

    &:hover {
      background-color: $white;
      i {
        color: $blood;
      }
    }
  }
}

.index-posts {
  .img-responsive {
    margin: 0 auto;
  }
}
.ui-sortable-handle {
  border: 1px solid $black;
}
i {
  &.rotated {
    &::before {
      transform: rotate(180deg);
    }
  }
}

/* #COMICS & #PRODUCTS */
.products-sidebar {
  /*background-color: $swamp;
  @include background-gradient-light(bottom);
  margin-top: 15px;
  padding: 20px 12px 40px;
  color: $white;
  min-height: 250px;
  position: relative;

  .title {
    color: $white;
  }
  */
  padding: 20px 12px 40px;
}
.list-row {
  margin-top: 50px;
}
.flex-row {
  display: flex;
}
.flex-first {
  margin-left: 15%;
}
.spacer {
  width: 100%;
  margin-bottom: 50px;
}
.featured-product {
  margin-top: 10px;
  position: relative;
  height: 560px;
}
.featured-label {
  position: absolute;
  z-index: 2;
  top: -10px;
  left: 5px;
  font-size: 14px;
}
.button-column {
  margin-top: 40%;
  @include respond-to(xs) {
    margin-top: 15px;
  };
}
.comic-content {
  @include respond-to(xs) {
    padding-left: 30px;
  };
}

/* #COMICS */

.title-image {
  height: 150px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.main-title-image {
  height: 200px;
}
.comic-heading {

}

.comic-main-img {
  //
}

.comic-attributes {
  margin-top: 60px;
  border: 1px solid $gray-darker;
  color: $gray-darker;
  padding: 12px 16px;
  @include respond-to(xs) {
    margin-top: 15px;
  };
}

.thumbnails {
  margin-top: 24px;
}

.comic-thumb-box {
  text-align: center;

  /*&:nth-child(odd) {
    padding-right: 4px;
  }
  &:nth-child(even) {
    padding-left: 4px;
  }*/
}

.comic-thumb {
  padding: 2px;
  //border: 1px solid $black;
  width: 100%;
  cursor: pointer;
}
.comic-unreleased {
  //filter: grayscale(.75);
}
.webcomic-pagination {
  a,
  em,
  .disabled {
    display: inline-block;
    padding: 4px 7px;
    //border: 1px solid $black;
  }
  em {
    color: $white;
    background-color: $black;
  }
}

/*
.webcomic-container {
  position: relative;
  .previous_page,
  .next_page {
    position: absolute;
    top: 45%;
    border-color: transparent;
    &.disabled {
      color: $damp;
      border-color: transparent;
    }
  }
  .previous_page {
    left: -15px;
    @include respond-to(xs) {
      left: -5px
    };
  }
  .next_page {
    right: -15px;
    @include respond-to(xs) {
      right: -5px
    };
  }
}
*/

.loca-list {
  list-style-image: url('logo_sm.svg')
}

.webcomic-subtitle {
  margin-top: 25px;
  width: 215px;
}

.webcomic-page {
  margin: 0 auto;
  @include respond-to(larger_than_sm) {
    max-height: 1000px;
  };
}

/* #SHOP */

.product-item {

}

/* #BLOG */
.blog-row {
}
.post {
  padding-bottom: 0;
  //border-bottom: 1px solid $swamp;
  margin-bottom: 0;

  img {
    margin-bottom: 22px;
  }

  .list-inline {
    margin-bottom: 0;
  }
}

.post-content {
  padding: 8px 12px;
  //background-color: rgba($white, $alpha-main);
  margin-bottom: 15px;
  //@include gradient-border($swamp, $swamp-light, 3px);
  border-bottom: 1px solid $black;
}

.photoset {
  .img-main {
    //
  }
  .img-sub {
    float: left;
    width: 50%;
    height: 135px;
    object-fit: cover;
  }
}

/* #ABOUT */
.hero-card {
  padding: 20px;
  position: relative;
}
.aik {
  .hero-caption {
    position: absolute;
    right: 0;
    top: 47.2%;
    background-color: rgba($white, .75);
  }
}
.lee {
  .hero-img {
    height: 350px;
  }
  .hero-caption {
    position: absolute;
    right: 0;
    bottom: -60px;
    background-color: rgba($white, .75);
  }
}

.hero-name {
  border-bottom: 1px solid $text-color;
  padding-bottom: 10px;
  margin-bottom: 24px
}

.contact-box {
  margin-top: 150px;
}

/* #CART */
.static-card {
  background-color: $white;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 15px;
  @include card(1);
}

.block-span {
  display: inline-block;
  margin-top: 10px;
}

.shopping-cart {
  .input-group {
    margin-top: 5px;
  }
}
/* #FOOTER */

footer {
  margin-top: 130px;
  padding-bottom: 40px;
  min-height: 170px;
  width: 100%;
  color: $black;
  background-color: $white;

  @include respondto(xs) {
    margin-bottom: 80px;
    .col-xs-12 {
      text-align: center;
      margin-bottom: 8px;
    }
  };

  .footer-top {
    //background-image: image-url('footer_bg.svg');
    //background-repeat: repeat-x;
    width: 100%;
    height: 160px;
    margin-bottom: 60px;
  }
}

// #MISC
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  box-sizing: border-box;
}

// #ADMIN

//statuses
.status-placed {
  background-color: lighten($sand, 25);
}

.status-paid {
  background-color: $swamp;
  color: $white;
}

.status-shipped {
  background-color: $lagoon;
  color: $white;
}

.large-icon {
  font-size: 40px;
}
