<div class="container-fluid">
  <div class="row">
    <div class="category-heading comic-heading">
      <div class="container">
        <h1 class="title">L'OCA PIGRA SHOP</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= will_paginate %>
  <div class="row card-row">
    <% if @products.any? %>
      <%= render @products, order_item: @order_item %>
    <% else %>
      <div class="col-xs-12">
        <p>
          Sorry, no products available for purchase just yet. Site will be ready soon!
        </p>
      </div>
    <% end %>


    <% if current_user %>
      <div class="col-xs-12">
        <hr>
        <%= link_to "Add product", new_product_path, class: "btn btn-success btn-lg" %>
      </div>
    <% end %>
  </div>
  <%= will_paginate %>
</div>
