
= link_to cart_path, { class: [ ("btn"), ("btn-danger"), ("cart-btn"), ("empty" unless order_items_quantity), ("hidden" unless order_items_quantity) ] } do
  %i.icon-basket
  %span.badge= order_items_quantity
