<footer class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <small class="text-muted">copyright l'oca pigra 2016</small>
    </div>
    <div class="col-xs-12 col-sm-9 text-right">
      <ul class="list-inline">
        <% if user_signed_in? %>
          <li>
            <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "btn btn-sm btn-danger" %>
          </li>
        <% else %>
          <li>
            <%= link_to('Login', new_user_session_path)  %>
          </li>
        <% end %>
        <li><i class="fa fa-facebook blood"></i></li>
        <li><i class="fa fa-twitter blood"></i></li>
        <li><a href="http://locapigra.tumblr.com/" class="blood"><i class="fa fa-tumblr"></i></a></li>
        <li><%= link_to "Impressum", imprint_path %></li>
      </ul>
    </div>
  </div>
</footer>
